<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:property name="chassis_length" value="1.0"/>
    <xacro:property name="chassis_width"  value="0.8"/>
    <xacro:property name="chassis_height" value="0.04"/>
    <xacro:property name="chassis_mass"   value="4.0"/>

    <xacro:property name="wheel_radius"   value="0.10"/>
    <xacro:property name="wheel_length"   value="0.04"/>
    <xacro:property name="wheel_mass"     value="0.5"/>
    <xacro:property name="wheel_offset_y" value="0.415"/>

    <xacro:property name="castor_radius"  value="0.095"/>
    <xacro:property name="castor_mass"    value="0.2"/>

    <material name="blue"> <color rgba="0 0 0.8 1"/> </material>
    <material name="black"> <color rgba="0 0 0 1"/> </material>
    <material name="red"> <color rgba="1 0 0 1"/> </material>

    <link name="base_link"></link>

    <joint name="chassis_joint" type="fixed">
            <parent link="base_link"/>
            <child link="chassis_link"/>
            <origin xyz="0 0 ${wheel_radius}"/> 
    </joint>

    <link name="chassis_link">
        <visual>
            <geometry> <box size="${chassis_length} ${chassis_width} ${chassis_height}"/> </geometry>
            <material name="blue"/>
        </visual>
        <collision>
            <geometry> <box size="${chassis_length} ${chassis_width} ${chassis_height}"/> </geometry>
        </collision>
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="${chassis_mass}"/>
            <inertia ixx="0.21386" ixy="0.0" ixz="0.0" iyy="0.33386" iyz="0.0" izz="0.54666"/>
        </inertial>
    </link>

    <gazebo reference="chassis_link">
        <material>Gazebo/Blue</material>
    </gazebo>

    <link name="wheel_left_link">
        <visual>
            <geometry> <cylinder length="${wheel_length}" radius="${wheel_radius}"/> </geometry>
            <material name="black"/>
        </visual>
        <collision>
            <geometry> <cylinder length="${wheel_length}" radius="${wheel_radius}"/> </geometry>
        </collision>
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="${wheel_mass}"/>
            <inertia ixx="0.00131" ixy="0.0" ixz="0.0" iyy="0.00131" iyz="0.0" izz="0.0025"/>
        </inertial>
    </link>

    <joint name="wheel_left_joint" type="continuous">
        <parent link="chassis_link"/>
        <child link="wheel_left_link"/>
        <origin xyz="0 ${wheel_offset_y} 0" rpy="${pi/2} 0 0"/>
        <axis xyz="0 0 -1"/>
    </joint>

    <gazebo reference="wheel_left_link">
        <material>Gazebo/Black</material>
    </gazebo>


    <link name="wheel_right_link">
        <visual>
            <geometry> <cylinder length="${wheel_length}" radius="${wheel_radius}"/> </geometry>
            <material name="black"/>
        </visual>
        <collision>
            <geometry> <cylinder length="${wheel_length}" radius="${wheel_radius}"/> </geometry>
        </collision>
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="${wheel_mass}"/>
            <inertia ixx="0.00131" ixy="0.0" ixz="0.0" iyy="0.00131" iyz="0.0" izz="0.0025"/>
        </inertial>
    </link>

    <joint name="wheel_right_joint" type="continuous">
        <parent link="chassis_link"/>
        <child link="wheel_right_link"/>
        <origin xyz="0 -${wheel_offset_y} 0" rpy="${pi/2} 0 0"/>
        <axis xyz="0 0 -1"/>
    </joint>

    <gazebo reference="wheel_right_link">
        <material>Gazebo/Black</material>
    </gazebo>


    <link name="wheel_castor_front_link">
        <visual> <geometry> <sphere radius="${castor_radius}"/> </geometry> <material name="red"/> </visual>
        <collision> <geometry> <sphere radius="${castor_radius}"/> </geometry> </collision>
        <inertial> <mass value="${castor_mass}"/> <inertia ixx="0.0018" ixy="0.0" ixz="0.0" iyy="0.0018" iyz="0.0" izz="0.0018"/> </inertial>
    </link>

    <joint name="wheel_castor_front_joint" type="fixed">
        <parent link="chassis_link"/>
        <child link="wheel_castor_front_link"/>
        <origin xyz="0.40 0 0" rpy="0 0 0"/>
    </joint>

    <gazebo reference="wheel_castor_front_link"> <material>Gazebo/Red</material> </gazebo>

    <link name="wheel_castor_back_link">
        <visual> <geometry> <sphere radius="${castor_radius}"/> </geometry> <material name="red"/> </visual>
        <collision> <geometry> <sphere radius="${castor_radius}"/> </geometry> </collision>
        <inertial> <mass value="${castor_mass}"/> <inertia ixx="0.0018" ixy="0.0" ixz="0.0" iyy="0.0018" iyz="0.0" izz="0.0018"/> </inertial>
    </link>

    <joint name="wheel_castor_back_joint" type="fixed">
        <parent link="chassis_link"/>
        <child link="wheel_castor_back_link"/>
        <origin xyz="-0.40 0 0" rpy="0 0 0"/>
    </joint>

    <gazebo reference="wheel_castor_back_link"> <material>Gazebo/Red</material> </gazebo>



</robot>