<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="my_stair_robot">

    <gazebo>
        <plugin name='diff_drive' filename='libgazebo_ros_diff_drive.so'>
        <ros>
            <remapping>cmd_vel:=cmd_vel</remapping>
            <remapping>odom:=odom</remapping>
        </ros>

        <left_joint>leftwheel</left_joint>
        <right_joint>rightwheel</right_joint>

        <wheel_separation>0.6449</wheel_separation>

        <wheel_diameter>0.15</wheel_diameter>

        <max_wheel_torque>20</max_wheel_torque>
        <max_wheel_acceleration>1.0</max_wheel_acceleration>

        <publish_odom>true</publish_odom>
        <publish_odom_tf>true</publish_odom_tf>
        <publish_wheel_tf>true</publish_wheel_tf>

        <odometry_frame>odom</odometry_frame>
        <robot_base_frame>base_link</robot_base_frame>
        </plugin>
    </gazebo>

    <gazebo reference="base_link">
        <material>Gazebo/DarkGrey</material>
    </gazebo>

    <gazebo reference="left_wheel">
        <material>Gazebo/Black</material>
        <mu1>1.5</mu1>
        <mu2>1.5</mu2>
        <kp>1000000.0</kp>
        <kd>10.0</kd>
    </gazebo>

    <gazebo reference="right_wheel">
        <material>Gazebo/Black</material>
        <mu1>1.5</mu1>
        <mu2>1.5</mu2>
        <kp>1000000.0</kp>
        <kd>10.0</kd>
    </gazebo>

    <gazebo reference="rear_caster">
        <material>Gazebo/Grey</material>
    </gazebo>

    <gazebo reference="rear_caster_wheel">
        <material>Gazebo/Black</material>
        <mu1>0.01</mu1>
        <mu2>0.01</mu2>
    </gazebo>

    <gazebo reference="front_left_arm"> <material>Gazebo/Grey</material> </gazebo>
    <gazebo reference="front_right_arm"> <material>Gazebo/Grey</material> </gazebo>
    <gazebo reference="rear_left_arm"> <material>Gazebo/Grey</material> </gazebo>
    <gazebo reference="rear_right_arm"> <material>Gazebo/Grey</material> </gazebo>
    <gazebo reference="left_arm_f"> <material>Gazebo/Silver</material> </gazebo>
    <gazebo reference="right_arm_f"> <material>Gazebo/Silver</material> </gazebo>

    <!-- <gazebo reference="platform">
        <material>Gazebo/Blue</material>
    </gazebo>

    <gazebo reference="camera_link">
        <material>Gazebo/Red</material>
    </gazebo> -->


</robot>